.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aquamarine;
    }

/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #112233;
}

footer {
    position: absolute;
    bottom: auto;
    font-size: medium;
    color: dimgrey;
}

#sidebar {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: fixed; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #123; /* Цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

header, footer, body, .video-container {
    background-color: palegoldenrod;
}
