<div class="slider">
    <div class="slider__wrapper">
        <div class="slider__items">
            <div class="slider__item">
                <img class="img-fluid" src="../Static/Images/london.jpg" alt="Лондон" width="1000" height="408">
            </div>
            <div class="slider__item">
                <img class="img-fluid" src="../Static/Images/ny.jpg" alt="Нью-Йорк" width="1000" height="408">
            </div>
            <div class="slider__item">
                <img class="img-fluid" src="../Static/Images/spb.jpg" alt="Санкт-Петербург" width="1000" height="408">
            </div>
        </div>
    </div>
    <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
    <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
</div>
