<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet">
    <script defer src="../Static/JS/about.js"></script>
</head>

<body>
    <header>
        <h1>LifeSpot - о проекте</h1>
        <p>На сайте собраны прямые трансляции из улиц разных городов мира</p>
        <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
        <p>Отзыв о работе сайта можно оставить здесь</p>
    </header>

    <main>
        <div class="reviews">
            <div class="review-button">
                <button onclick="addComment()">Оставить отзыв</button>
            </div>
        </div>
    </main>

    <!--SIDEBAR-->
    <!--FOOTER-->
</body>

</html>
