<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet">
    <script src="../Static/JS/index.js"></script>
    <script>
        handleSession(logger, checker);

        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value;
        }

        setTimeout(() =>
            alert("Нравится LifeSpot?\nПодпишитесь на наш Instagram @lifespot999!"), 30000);
    </script>
</head>

<body>
    <header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас!</p>
        <p>Начните вводить название видео:</p>
        <input type="text" oninput="filterContent()" size="50">
    </header>

    <main>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-description">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CUyy8rBnuzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-description">Лас-Вегас никогда не спит</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-description">Санкт-Петербург, Дворцовый мост</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jbqT0fTj088" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-description">Санкт-Петербург, крейсер Аврора</h3>
        </div>
    </main>

    <!--SIDEBAR-->
    <!--FOOTER-->
</body>

</html>
