<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet">
    <script defer src="../Static/JS/testing.js"></script>
    <script>
        let userName = prompt("Пожалуйста, введите ваше имя");
        alert(`Приветствую, ${userName}! В вашем имени ${userName.length} символов:)`);
    </script>
</head>

<body>
    <header>
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
        <input type="text" size="50">
    </header>

    <!--SIDEBAR-->
    <!--FOOTER-->
</body>

</html>
